In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('/content/Classification.xlsx')
data.head()

   Gender  Glucose    BP  SkinThickness  ...   BMI  PedigreeFunction  Age  Outcome
0    Male      148  72.0           35.0  ...  33.6             0.627   50        1
1  Female       85  66.0           29.0  ...  26.6             0.351   31        0
2  Female      183  64.0            0.0  ...  23.3             0.672   32        1
3  Female       89  66.0           23.0  ...  28.1             0.167   21        0
4    Male      137   NaN           35.0  ...  43.1             2.288   33        1

[5 rows x 9 columns]

In [3]:
data.dtypes

Gender               object
Glucose               int64
BP                  float64
SkinThickness       float64
Insulin             float64
BMI                 float64
PedigreeFunction    float64
Age                   int64
Outcome               int64
dtype: object

In [4]:
for row in data['Gender'].items():
  if row[1] == 'Male':
    data.iloc[row[0],0] = 0
  elif row[1] == 'Female':
    data.iloc[row[0],0] = 1

data.head()

  Gender  Glucose    BP  SkinThickness  ...   BMI  PedigreeFunction  Age  Outcome
0      0      148  72.0           35.0  ...  33.6             0.627   50        1
1      1       85  66.0           29.0  ...  26.6             0.351   31        0
2      1      183  64.0            0.0  ...  23.3             0.672   32        1
3      1       89  66.0           23.0  ...  28.1             0.167   21        0
4      0      137   NaN           35.0  ...  43.1             2.288   33        1

[5 rows x 9 columns]

In [5]:
data.Gender.value_counts()

0    317
1    247
Name: Gender, dtype: int64

In [7]:
data.dtypes

Gender               object
Glucose               int64
BP                  float64
SkinThickness       float64
Insulin             float64
BMI                 float64
PedigreeFunction    float64
Age                   int64
Outcome               int64
dtype: object

In [8]:
data.dropna(inplace=True)

In [9]:
X,y = data.iloc[:,:-1], data.iloc[:,-1]

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1)

In [11]:
# training the model on training set
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)
  
# making predictions on the testing set
y_pred = gnb.predict(X_test)
  
# comparing actual response values (y_test) with predicted response values (y_pred)
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 78.89447236180904